/*Random Quote Generator css*/
body {

	background-image: url("../images/hand3.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	backgroun-position: center;

	
	
}
body {
	background-size: cover;
}

h1 {
	padding-top: 50px;
	text-align: center;
  color: #fdfdfd;
  font-family: 'Courgette', cursive;
  font-size: 50px;
  
}

.mainbox {
	background-color: #ffffff;
  
	
	text-align: center;
	height: 215px;
	
	margin-top: 100px;
	position: center;
	border-radius: 10px;
  opacity: 0.4;
  
	
}
#rumiQuote {
  font-size: 25px;
  font-weight: bold;
  color: black;
  padding-top: 7px;
  
}

#rumiQuoteButton {
	color: purple;
	border-radius: 5px;
	display: block;
	margin: 0 auto;
	margin-top: 10px;
	background-color: #ffffff;
	opacity: 0.4;
	font-weight: bold;
   
}

#twitterButton {
	background-image: url("../images/TwitterIconGrey.png");

	
	display: block;
	height: 50px;
	margin:0 auto;
	margin-top: 10px;
	background-color: #ffffff;
	opacity: 0.4;
	border-radius: 50%;
	color: purple;
	font-weight: bold;
	text-align: center;

}
